body.search {
	display: initial !important;
}


/* ul.articulos_pager a, */ ul.articulos_pager span.current {
	display: inline-block;
	margin: 0 0.5em;
	padding: 1em 1.3em;
	text-align: center;
	font-size: 1.3em;
	border: 1px solid #959595;
}
/* ul.articulos_pager a.active */ ul.articulos_pager span.current {
	border-color: #fb0d1b;
	background-color: #fb0d1b;
	color: white;
}
.galeria_thumbnails img { opacity: 0; }

.single_post .cuerpo_post .categoria_tag a:after {content: ', ';}
.single_post .cuerpo_post .categoria_tag a:nth-last-child(1):after {content: '';}

.external_author img {
	float: left;
}

.external_author {
	clear: both;
	overflow: auto;
	margin-bottom: 3em;
	color: #919191;
}
ul.follow_links li a {
	cursor: pointer;
}
#animacion_contenedor a {
	color: #FFF;
}

.single .fit-vid {
	margin-bottom: 3rem;
}

.archive.category .cat_cover {
	background-size: cover;
	background-position: center;
}

.row.fluid .four.columns:nth-child(4),
.row.fluid .four.columns:nth-child(7),
.row.fluid .four.columns:nth-child(10),

.row.fluid .three.columns:nth-child(5),
.row.fluid .three.columns:nth-child(9),
.row.fluid .three.columns:nth-child(13) {
	margin-left: 2%;
}

.row .four.columns:nth-child(3n+1),
.row .three.columns:nth-child(4n+1) {
	margin-left: 0 !important;
}

ul.comentarios_listado li p:first-child {
	color: inherit
}

ul.comentarios_listado li .comment-content {
	margin: 1em 0;
}





article.cuerpo_post {
	position: relative;
}

article.cuerpo_post iframe {
	width: 100%;
	min-height: 1500px;
	overflow: auto;
}






.newsLetterContain {
	position: relative;
	min-height: 14em;
	margin-bottom: 3rem;
}
.newsLetterContain form:nth-child(2) {
	position: absolute;
	top: 0;
	z-index: 1;
	display: block;
}

#footer input {
	color: white;
}
#footer input:disabled {
	opacity: .15;
}

#newsLetterChoose {
	text-align: right;
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 2;
	margin-bottom: 1.5rem;
}
#newsLetterChoose label,
#newsLetterChoose input {
	display: inline;
}
#newsLetterChoose input {
	position: relative;
	top: -2px;
}
#newsLetterChoose input:nth-child(3) {
	margin-left: 2em;
}

@media (min-width: 550px) and (max-width: 1000px) {
	form#newsLetterChoose {
		bottom: -3.5rem;
		left: 0;
		text-align: left;
	}
}







.articulo.video:before,
.articulo.galeria:before {
	content: '';
	background-image: url(../img/icon_gallery.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-color: red;
	width: 2.5rem;
	height: 2rem;
	display: block;
	position: absolute;
}
.articulo.video:before {
	background-image: url(../img/icon_video.svg);
}
